# roles/docker_app/tasks/main.yml
---

- name: Login to GitHub Container Registry
  community.docker.docker_login:
    registry_url: ghcr.io
    username: "{{ github_username }}"
    password: "{{ github_pat_token }}"
    reauthorize: yes

- name: Ensure Docker Compose is available (sanity check)
  ansible.builtin.command: "{{ docker_compose_command }} version"
  register: docker_compose_version_check
  changed_when: false
  failed_when: docker_compose_version_check.rc != 0

- name: Pull latest Docker images from GitHub Container Registry
  community.docker.docker_compose_v2:
    project_src: "{{ app_dest_path }}"
    pull: always
  become: yes
  environment:
    IMAGE_TAG: "{{ image_tag }}"
  become_user: "{{ app_owner_user }}"

- name: Start Database services only
  community.docker.docker_compose_v2:
    project_src: "{{ app_dest_path }}"
    state: present
    services:
      - auth_db
      - tournament_db
      - history_db
  environment:
    IMAGE_TAG: "{{ image_tag }}"
  become: yes
  become_user: "{{ app_owner_user }}"

- name: Wait for PostgreSQL to be ready
  ansible.builtin.pause:
    seconds: 10

- name: Run migrations (BLOCKING)
  community.docker.docker_container:
    name: "{{ item }}_migration_runner"
    image: "ghcr.io/almat101/{{ item }}:{{ image_tag }}"
    command: python manage.py migrate --noinput
    env_file: "{{ app_dest_path }}/.env"
    networks:
      - name: mini_transcendence_internal
    cleanup: yes
    detach: no
  loop:
    - auth-service
    - tournament-service
    - history-service
  become: yes

- name: Update and restart docker compose services
  community.docker.docker_compose_v2:
    project_src: "{{ app_dest_path }}"
    state: present
  environment:
    IMAGE_TAG: "{{ image_tag }}"
  become: yes
  become_user: "{{ app_owner_user }}"
  register: docker_compose_result

- name: Display status
  ansible.builtin.debug:
    var: docker_compose_result
    # msg: "Docker Compose services started. Status: {{ docker_compose_start_result }}"

# - name: Stop and remove existing Docker Compose services if running
#   community.docker.docker_compose_v2:
#     project_src: "{{ app_dest_path }}"
#     state: absent # Arresta e rimuove i container e le reti
#   ignore_errors: yes # Ignora errori se i servizi non sono ancora attivi
#   become: yes
#   become_user: "{{ app_owner_user }}"

# #### Sostituzione di docker compose build con docker compose pull delle immagini

# - name: Build Docker Compose services
#   community.docker.docker_compose_v2:
#     project_src: "{{ app_dest_path }}"
#     build: always # Forziamo la ricostruzione ogni volta per coerenza
#   become: yes
#   become_user: "{{ app_owner_user }}"